@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply mr-6 text-base cursor-pointer hover:text-indigo-700
    }
}

.hero-title {
    overflow: visible;
    line-height: 1.118em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.hero-buttons {
    border: 1px solid #E5E7EB;
    transition: 700ms all;
}

.hero-buttons:hover {
    border-color: #4338CA;
    color: #4338CA;
    transform: translateY(-15px);
}

.paragraph-hero {
    font-size: 18px;
    max-width: 461px;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.636em;
    letter-spacing: 0em;
    color: #888b94;
}

@media only screen and (max-width: 768px) {
    .hero-image {
        margin-top: 2rem;
    }
}